version: "3.8"

services:
  mysql:
    image: mysql
    environment:
      MYSQL_DATABASE: linkedin
      MYSQL_ROOT_PASSWORD: we
    ports:
      - "3306:3306"

  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025" #ui for web
